@model RentalShowcase.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>

<ul>
    <li>Genre: @Model.genre.name</li>
    <li>Release Date: @Model.releaseDate.ToLongDateString()</li>
    <li>Date Added: @Model.dateAdded.ToLongDateString()</li>
    <li>Number in Stock: @Model.numberInStock</li>
</ul>